@page "/Delete/{VehiculoId:int}"
@inject HttpClient httClient
<div class="card shadow-lg">
    <div class="card-header">
        <h3 class="text-danger"> ¿Seguro que quieres eliminar este vehiculo?</h3>
    </div>
    <div class="card-body">
        <p> VehiculocId: @Vehiculo.VehiculoId</p>
        <p> Fecha: @Vehiculo.Fecha</p>
        <p> Descripcion: @Vehiculo.Descripcion</p>
        <p> Costo: @Vehiculo.Costo</p>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a href="Index" class="btn btn-primary bi bi-arrow-left-square-fill">Atr&aacute;s</a>
            <button class="btn btn-danger bi bi-trash-fill" @onclick="Eliminar">Eliminar</button>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int VehiculoId { get; set; }
    public Vehiculos Vehiculo = new Vehiculos();

    protected async override Task OnInitializedAsync()
    {
        Vehiculo = (await httClient.GetFromJsonAsync<Vehiculos>($"api/vehiculos/{VehiculoId}"))!;
    }

    public async Task Eliminar()
    {
        var eliminado = await httClient.DeleteFromJsonAsync<Vehiculos>($"api/Vehiculos/{VehiculoId}");
    }
}
